body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #666}
a:hover {
  background-color: #ccc;
  color: white;
  text-decoration: none;
}


#page {
  background-color: #f0f0f0;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: white;
  border: 3px solid #aaa;
  border-top: none;
  padding: 25px;
  width: 500px;
}

#sidebar {
  float: right;
  width: 175px;
}

#footer {
  clear: both;
}


#header, #about {
  padding-left: 75px;
  padding-right: 30px;
}

#header {
  height: 64px;
}

#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}

td.mono { font-family: "Andale Mono", "monospace"; }

#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

#about-content {
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -11px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}

code {
  color: Brown;
}

#search {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}
#search input {
  font-size: 11px;
  margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}
span.comment {
  color: blue;
  font-weight: plain;
}
pre {
  font-size: 12pt;
}
span.appid {
  color: green;
}
pre.prettyprint {
  border: 1px solid #777;
  background: #eee;
  padding:1em;
}
#hlinks {
  position: absolute;
  top: 0;
  right: 0;
  margin-right:.5em;
}