build
dist
pkg
nbproject/private
Duby Plugin/nbproject/private
examples/appengine/war/
*.class
target
.redcar
.DS_Store
Gemfile.lock
*~

# ignore generated jar files
javalib/mirah-bootstrap.jar
javalib/mirah-builtins.jar
javalib/mirah-newast-transitional.jar
javalib/mirah-util.jar
